{
  "Version": 2,
  "Mixers": {
    "Guid": "7a452ee8-c2a0-421e-8c69-3f42f352711d",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spatializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 0,
    "Reverb": 0,
    "AirAbsorption": 0,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "BlockingTags": null,
    "IgnoredTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "15059545-9f19-4143-82dc-20e642428a62",
        "Name": "Music",
        "Volume": 0.94455445,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "f4fe0ccb-126c-48be-81e8-fef60bba4267",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "891d294c-0541-4986-8516-51791d1e92bb",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "5d246756-88ca-4574-9274-fa9e47b6ad08",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "cf5c3cea-f7ae-40ff-8650-9de3f81c8e03",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}