{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 50,
  "__guid": "2cf9f299-9ab7-4c53-8784-314616893809",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}